# 1. Importando as bibliotecas

In [1]:
import pandas as pd

# 2. Importando a base de dados
https://www.kaggle.com/datasets/gregorut/videogamesales?resource=download

In [2]:
data = pd.read_csv('data/dataset.csv', sep = ',')
data.shape

(16598, 11)

# 3. Conhecendo a base de dados

In [3]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
data.nunique()

Rank            16598
Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

## OU

In [7]:
platforms = data["Platform"].drop_duplicates()
platforms

0         Wii
1         NES
4          GB
6          DS
15       X360
16        PS3
17        PS2
18       SNES
25        GBA
32        3DS
33        PS4
46        N64
52         PS
79         XB
83         PC
89       2600
90        PSP
101      XOne
107        GC
108      WiiU
143       GEN
637        DC
713       PSV
888       SAT
1261      SCD
3931       WS
6681       NG
9223     TG16
12635     3DO
13525      GG
14556    PCFX
Name: Platform, dtype: object

In [8]:
platforms.shape

(31,)

In [9]:
genres = data["Genre"].unique()
genres

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [10]:
genres.shape

(12,)

# 4. Análise dos dados

### 4.1 Qual o video game com maior número de dados ?

In [11]:
count_by_platform_data = data.groupby("Platform").count()
count_by_platform_data

,Rank,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,,,,
2600,133,133,116,133,133,133,133,133,133,133
3DO,3,3,3,3,3,3,3,3,3,3
3DS,509,509,500,509,507,509,509,509,509,509
DC,52,52,52,52,52,52,52,52,52,52
DS,2163,2163,2133,2163,2156,2163,2163,2163,2163,2163
GB,98,98,97,98,98,98,98,98,98,98
GBA,822,822,811,822,796,822,822,822,822,822
GC,556,556,542,556,556,556,556,556,556,556
GEN,27,27,27,27,27,27,27,27,27,27
GG,1,1,1,1,1,1,1,1,1,1
N64,319,319,316,319,319,319,319,319,319,319
NES,98,98,98,98,98,98,98,98,98,98
NG,12,12,12,12,12,12,12,12,12,12
PC,960,960,943,960,954,960,960,960,960,960
PCFX,1,1,1,1,1,1,1,1,1,1
PS,1196,1196,1189,1196,1193,1196,1196,1196,1196,1196
PS2,2161,2161,2127,2161,2159,2161,2161,2161,2161,2161
PS3,1329,1329,1304,1329,1326,1329,1329,1329,1329,1329
PS4,336,336,336,336,336,336,336,336,336,336
PSP,1213,1213,1197,1213,1211,1213,1213,1213,1213,1213
PSV,413,413,412,413,411,413,413,413,413,413
SAT,173,173,173,173,173,173,173,173,173,173
SCD,6,6,6,6,6,6,6,6,6,6
SNES,239,239,239,239,239,239,239,239,239,239
TG16,2,2,2,2,2,2,2,2,2,2
WS,6,6,6,6,6,6,6,6,6,6
Wii,1325,1325,1290,1325,1324,1325,1325,1325,1325,1325
WiiU,143,143,143,143,143,143,143,143,143,143
X360,1265,1265,1235,1265,1261,1265,1265,1265,1265,1265
XB,824,824,803,824,824,824,824,824,824,824
XOne,213,213,213,213,213,213,213,213,213,213

In [12]:
count_by_platform_data["Name"].idxmax()

'DS'

In [13]:
count_by_platform_data["Name"].max()

2163

## OU

In [14]:
data["Platform"].value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

### 4.2 Qual o jogo desse vídeo game com maior número de vendas nos NA ?

In [15]:
data["Platform"]

0        Wii
1        NES
2        Wii
3        Wii
4         GB
        ...
16593    GBA
16594     GC
16595    PS2
16596     DS
16597    GBA
Name: Platform, Length: 16598, dtype: object

In [16]:
selection =  data["Platform"] == "DS"
selection

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596     True
16597    False
Name: Platform, Length: 16598, dtype: bool

In [17]:
data_ds = data[selection]
data_ds

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
...,...,...,...,...,...,...,...,...,...,...,...
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.00,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

In [18]:
data_ds.sort_values(by=["NA_Sales"], ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
26,27,Pokemon Black/Pokemon White,DS,2010.0,Role-Playing,Nintendo,5.57,3.28,5.65,0.82,15.32
...,...,...,...,...,...,...,...,...,...,...,...
12298,12300,Max & the Magic Marker,DS,2011.0,Platform,Unknown,0.00,0.06,0.00,0.00,0.06
12300,12302,Akagawa Jirou Mystery: Yasoukyoku - Hon ni Man...,DS,2008.0,Adventure,Marvelous Interactive,0.00,0.00,0.06,0.00,0.06
12305,12307,Nicola Kanshuu: Model * Oshare Audition,DS,2010.0,Misc,Alchemist,0.00,0.00,0.06,0.00,0.06
12322,12324,Pawly Pets: My Vet Practice,DS,2007.0,Strategy,Ubisoft,0.00,0.06,0.00,0.01,0.06
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

### 4.3 Sabendo que esse jogo lançou em 2006, quais foram os jogos mais vendidos no NA entre 2005 e 2007 ?

In [19]:
selection =  (data["Year"] >= 2005.0) & (data["Year"] <= 2007.0)
selection

0         True
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: Year, Length: 16598, dtype: bool

In [20]:
data_between_2005_and_2007 = data[selection]
data_between_2005_and_2007.sort_values(by=["NA_Sales"], ascending=False).head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
43,44,Halo 3,X360,2007.0,Shooter,Microsoft Game Studios,7.97,2.83,0.13,1.21,12.14
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
48,49,Super Mario Galaxy,Wii,2007.0,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
70,71,Call of Duty 4: Modern Warfare,X360,2007.0,Shooter,Activision,5.91,2.38,0.13,0.90,9.32
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
74,75,Mario Party DS,DS,2007.0,Misc,Nintendo,4.46,1.88,1.98,0.70,9.02
211,212,Madden NFL 06,PS2,2005.0,Sports,Electronic Arts,3.98,0.26,0.01,0.66,4.91
100,101,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
195,196,Guitar Hero II,PS2,2006.0,Misc,RedOctane,3.81,0.63,0.00,0.68,5.12
80,81,Mario Party 8,Wii,2007.0,Misc,Nintendo,3.81,2.30,1.58,0.73,8.42
150,151,LEGO Star Wars: The Complete Saga,Wii,2007.0,Action,LucasArts,3.66,1.63,0.00,0.53,5.83
240,241,Madden NFL 07,PS2,2006.0,Sports,Electronic Arts,3.63,0.24,0.01,0.61,4.49
141,142,Gears of War,X360,2006.0,Shooter,Microsoft Game Studios,3.54,1.90,0.07,0.60,6.11
207,208,Guitar Hero III: Legends of Rock,PS2,2007.0,Misc,Activision,3.49,0.01,0.01,1.48,4.98

### 4.4 Levando em consideração o dataframe anterior (20 primeiros por vendas em NA entre 2005 e 2007), qual o valor de vendas (NA) agrupado por publicadora ?

In [21]:
filtered_data = data_between_2005_and_2007.sort_values(by=["NA_Sales"], ascending=False).iloc[0:20]
filtered_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
43,44,Halo 3,X360,2007.0,Shooter,Microsoft Game Studios,7.97,2.83,0.13,1.21,12.14
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
48,49,Super Mario Galaxy,Wii,2007.0,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
70,71,Call of Duty 4: Modern Warfare,X360,2007.0,Shooter,Activision,5.91,2.38,0.13,0.90,9.32
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
74,75,Mario Party DS,DS,2007.0,Misc,Nintendo,4.46,1.88,1.98,0.70,9.02
211,212,Madden NFL 06,PS2,2005.0,Sports,Electronic Arts,3.98,0.26,0.01,0.66,4.91
100,101,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
195,196,Guitar Hero II,PS2,2006.0,Misc,RedOctane,3.81,0.63,0.00,0.68,5.12
80,81,Mario Party 8,Wii,2007.0,Misc,Nintendo,3.81,2.30,1.58,0.73,8.42
150,151,LEGO Star Wars: The Complete Saga,Wii,2007.0,Action,LucasArts,3.66,1.63,0.00,0.53,5.83
240,241,Madden NFL 07,PS2,2006.0,Sports,Electronic Arts,3.63,0.24,0.01,0.61,4.49
141,142,Gears of War,X360,2006.0,Shooter,Microsoft Game Studios,3.54,1.90,0.07,0.60,6.11
207,208,Guitar Hero III: Legends of Rock,PS2,2007.0,Misc,Activision,3.49,0.01,0.01,1.48,4.98

In [22]:
filtered_data.groupby("Publisher").sum()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,,
Activision,279,4014.0,9.40,2.39,0.14,2.38,14.30
Electronic Arts,453,4011.0,7.61,0.50,0.02,1.27,9.40
LucasArts,151,2007.0,3.66,1.63,0.00,0.53,5.83
Microsoft Game Studios,186,4013.0,11.51,4.73,0.20,1.81,18.25
Nintendo,400,24073.0,124.15,97.60,38.42,27.34,287.52
RedOctane,196,2006.0,3.81,0.63,0.00,0.68,5.12

# 5. Tratando base de dados

In [23]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### 5.1 - Removendo colunas não tão interessantes

In [24]:
t_data = data.drop(columns=['Rank', 'NA_Sales', "EU_Sales", "JP_Sales", "Other_Sales"])
t_data

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37
...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01

### 5.2 - Data como um inteiro

In [25]:
t_data["Formatted Year"] = t_data["Year"].fillna(0.0).astype(int)
t_data.head()

,Name,Platform,Year,Genre,Publisher,Global_Sales,Formatted Year
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74,2006
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24,1985
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82,2008
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00,2009
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37,1996

In [26]:
t_data.shape

(16598, 7)

In [27]:
selection =  t_data["Year"] > 1000
selection

0        True
1        True
2        True
3        True
4        True
         ...
16593    True
16594    True
16595    True
16596    True
16597    True
Name: Year, Length: 16598, dtype: bool

In [28]:
t_data = t_data[selection]
t_data.shape

(16327, 7)

In [29]:
t_data = t_data.drop(columns=["Year"])
t_data.head()

,Name,Platform,Genre,Publisher,Global_Sales,Formatted Year
0,Wii Sports,Wii,Sports,Nintendo,82.74,2006
1,Super Mario Bros.,NES,Platform,Nintendo,40.24,1985
2,Mario Kart Wii,Wii,Racing,Nintendo,35.82,2008
3,Wii Sports Resort,Wii,Sports,Nintendo,33.00,2009
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,31.37,1996

### 5.3 - Renomear colunas

In [30]:
t_data = t_data.rename(columns = {"Global_Sales": "Global_Sales (MM)", "Formatted Year": "Year"})
t_data.head()

,Name,Platform,Genre,Publisher,Global_Sales (MM),Year
0,Wii Sports,Wii,Sports,Nintendo,82.74,2006
1,Super Mario Bros.,NES,Platform,Nintendo,40.24,1985
2,Mario Kart Wii,Wii,Racing,Nintendo,35.82,2008
3,Wii Sports Resort,Wii,Sports,Nintendo,33.00,2009
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,31.37,1996

### 5.4 - Selecionar apenas os dados com vendas globais maior que 1 MM

In [31]:
t_data.shape

(16327, 6)

In [32]:
selection =  t_data["Global_Sales (MM)"] >= 1.00
selection

0         True
1         True
2         True
3         True
4         True
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: Global_Sales (MM), Length: 16327, dtype: bool

In [33]:
t_data = t_data[selection]
t_data.shape

(2059, 6)

In [34]:
t_data["Platform"].value_counts()

PS2     320
PS3     246
X360    235
PS      204
Wii     157
DS      144
NES      74
PS4      73
GBA      69
PC       68
PSP      56
GB       54
XB       53
N64      51
SNES     48
3DS      47
GC       46
XOne     43
2600     23
WiiU     19
GEN      11
PSV       8
DC        6
SAT       3
SCD       1
Name: Platform, dtype: int64

In [35]:
t_data["Genre"].value_counts()

Action          419
Sports          300
Shooter         249
Role-Playing    203
Platform        194
Racing          181
Misc            169
Fighting        123
Simulation       93
Puzzle           56
Adventure        40
Strategy         32
Name: Genre, dtype: int64

In [36]:
t_data

,Name,Platform,Genre,Publisher,Global_Sales (MM),Year
0,Wii Sports,Wii,Sports,Nintendo,82.74,2006
1,Super Mario Bros.,NES,Platform,Nintendo,40.24,1985
2,Mario Kart Wii,Wii,Racing,Nintendo,35.82,2008
3,Wii Sports Resort,Wii,Sports,Nintendo,33.00,2009
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,31.37,1996
...,...,...,...,...,...,...
2076,Wheel of Fortune,Wii,Misc,THQ,1.00,2010
2077,Disney Infinity,PS3,Action,Disney Interactive Studios,1.00,2013
2078,Dark Souls,X360,Role-Playing,Namco Bandai Games,1.00,2011
2079,Puzzler Collection,DS,Puzzle,Ubisoft,1.00,2008
2080,Jampack Winter 2000,PS,Misc,Sony Computer Entertainment,1.00,2000

# 6 - Exportando a base de dados

In [40]:
t_data.to_csv('output/data.csv', index=False, sep=";")